@charset "utf-8";
/* CSS Document */
body{margin:0px;font-family: 'Roboto', sans-serif;}
.header{ height:50px; background:#222; min-width: 1200px;}
.header404{ height:50px; background:#222; text-align:center;}
.header404 img{ max-height:50px;}
